<!-- Carousel
====================================================================================-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="First-slide " src="assets/img/robotica.jpg " alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <div class="row">
                        <div class="col-lg-6 col-md-10 px-0">
                            <h1 class="display-4 font-italic carousel-title">Robótica Educacional</h1>
                            <p class="lead p-1">
                                A robótica educacional consiste na criação de máquinas que desenvolvam
                                atividades de forma autônoma envolve conceitos das disciplinas de engenharia, física e
                                matemática
                                além de auxiliar na compreensão de outras. Desenvolve a criatividade, a concentração e
                                autonomia.
                                
                            </p>
                            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"> Conheça o projeto.</a>
                            </p>
                        </div>

                        <div class="col-md-6 d-none d-lg-inline-block">
                            <p class="mx-auto">
                                <a class="btn btn-block bg-blue-pmc text-light btn-lg"
                                    href="https://drive.google.com/open?id=10femDphcYkBv7f18722o3xo68zGWMztN">
                                    Montagens ZOOM
                                </a>
                                <a class="btn btn-block bg-blue-pmc text-light btn-lg"
                                    href="https://drive.google.com/open?id=14fXBSEwnJ0OU26q1K0OBSGvEWMseXKIe">
                                    Blocos Fundamentais
                                </a>
                                <a class="btn btn-block bg-blue-pmc text-light btn-lg"
                                    href="https://drive.google.com/open?id=1z_ylhtBL1GLus5FrRE1bqQasLkE_oYFg">
                                    Aulas Básicas
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
                <img class="First-slide " src="assets/img/emef-janeurbano.jpg " alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <div class="row">
                            <div class="col-lg-6 col-md-10 px-0">
                                <h1 class="display-4 font-italic carousel-title">Aulas Digitais</h1>
                                <p class="lead my-3">
                                    Site educacional com mais de 300 aulas feitas por
                                    estagiários
                                     orientados porprofessores do município de Caraguatatuba, onde alunos do
                                    ensino fundamental conseguem aprender
                                     de forma lúdica através de tablets e computadores.
                                     <p class="mt-5"> </p>
                                </p>
                                <p class="lead mb-0"><a href="http://aulasdigitais.online" class="text-white font-weight-bold"> Acesse o site</a>
                                </p>
                            </div>
    
                            <div class="col-md-6 d-none d-lg-inline-block">
                                <p class="mx-auto">

                                </p>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>   
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Voltar</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Avançar</span>
    </a>
</div>
<!--====================================================================================-->