<nav class="navbar navbar-expand-lg navbar-light bg-light ">

    <a class="navbar-brand" href="http://informaticaeducativa.caraguatatuba.sp.gov.br">
        <img class="mr-1" src="{{ site.baseurl }}/assets/img/ie_dark.png" height="55" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto ">

            <div class="nav-item active dropdown">
                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" v-pre="">
                    <span class="fa fa-laptop text-blue-pmc"></span> <b>Serviços</b> <span class="caret"></span>
                </a>
                <span class="text-muted d-block nav-text-small">Simulados e sistemas</span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="http://boamedida.caraguatatuba.sp.gov.br/">
                        <i class="fa fa-balance-scale"></i> Boa medida
                    </a>

                    <a class="dropdown-item" href="http://informaticaeducativa.caraguatatuba.sp.gov.br/evento/sistema">
                        <i class="fa fa-calendar"></i>
                        Eventos
                    </a>
                    <a class="dropdown-item" href="http://informaticaeducativa.caraguatatuba.sp.gov.br/sistema-patrimonios/public/">
                        <i class="fa fa-laptop"></i> Patrimônios
                    </a>
                </div>
            </div>

            <div class="nav-item active dropdown">
                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" v-pre="">
                    <span class="fa fa-folder-open text-blue-pmc  "></span> <b>Projetos </b> <span class="caret"></span>
                </a>
                <span class="text-muted d-block nav-text-small">Aulas digitais, tutoriais...</span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="http://aulasdigitais.online">
                        <i class="fa fa-book"></i> Aulas Digitais
                    </a>
                </div>
            </div>

            <div class="nav-item active dropdown">
                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" v-pre="">
                    <span class="fa fa-id-card text-blue-pmc "></span> <b> Estagiários </b> <span class="caret"></span>
                </a>
                <span class="text-muted nav-text-small d-block">Monitoria de informática</span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="https://drive.google.com/drive/folders/0B0kW30eIEa1uWmhPeXF3eEN6NnM">
                        <i class="fa fa-file"></i> Materiais de apoio
                    </a>

                    <a class="dropdown-item" href="https://calendar.google.com/calendar/embed?src=he2ma5hev33e9keaquuhd0gghs@group.calendar.google.com&pli=1">
                        <i class="fa fa-calendar"></i> Agenda
                    </a>
                   
                </div>
            </div>
        </div>
    </div>
</nav>
