<ul class="post-list">
    <div class="row">
        {% for post in site.posts %}

            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">{{ post.tags.first }}</strong>
                    <h5 class="mb-0">{{post.title}}</h5>
                    <small class="mb-1 text-muted">{{post.date}}</small>
                    <div class="post-text"> {{ post.excerpt }} </div>
                    <a href="{{post.url}}" class="stretched-link">Continue lendo...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img width="200" height="290" src="{{ site.baseurl }}/assets/img/{{ post.featured_image }}">
                </div>
                </div>
            </div>

        {% endfor %}
    </div>
</ul>